<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngFitText/dist/ng-FitText.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>

<body ng-app="starter">
  <div data-ng-controller="home" style=" margin-top: 200px; text-align: center;     display: block;     font-size: 2em;    -webkit-margin-before: 0.67em;    -webkit-margin-after: 0.67em;    -webkit-margin-start: 0px;    -webkit-margin-end: 0px;    font-weight: bold;">
    <br/>
    <br/>
    <br/>
    <span data-fittext data-fittext-min="100"  ng-bind="bindValue"></span>
    <input type="text" ng-model="textValue" autofocus placeholder="Input here"></input>
  </div>

</body>

</html>
